/*@import url("reset.css");*/
@import url("pagination.css");
@import url("jquery-datepicker.css");
@font-face {
  font-family: 'bebas_neueregular'; src: url('font/bebasneue-webfont.eot'); src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'), url('font/bebasneue-webfont.woff') format('woff'), url('font/bebasneue-webfont.ttf') format('truetype'), url('font/bebasneue-webfont.svg#bebas_neueregular') format('svg'); font-weight: normal; font-style: normal;
}
body {
  background: repeat-x left top;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-align: left;
  color: #333333;
  font-size: 11px;
	line-height: 1.3em;
  /*text-shadow: 0.1em 0.1em 0.1em white;*/
}
a {
  color:#666666;
  text-decoration:none;
}
a:hover {
  /*color:#00CC00;*/
  /*background:#0066FF;*/
  text-decoration:underline;
  border-radius: 0px;
}

a.selected {
  background: none repeat scroll 0 0 #EBEBEB;
  color: #000000;
  padding: 9px;
  text-decoration: none;/*border-radius: 7px 7px 0 0;*/
}
a.blueBlock:link {
  color:#0066FF;
  padding:3px;
}
a.blueBlock:visited {
  color:#0066FF;
  padding:3px;
}
a.blueBlock:hover {
  text-decoration:none;
  color:#FFFFFF;
  background:#0066FF;
  padding:3px;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
}
a.blueBlock {
  padding:3px;
  color:#6699FF;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
}
a.blueBlock_selected {
  padding:3px;
  background-color:#6699FF;
  color:#fff;
  text-decoration:none;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
}

.button {
  /*
  border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  border-style: none none solid;
  border-width:  1px;
  */
  color: #FFFFFF;
  cursor: pointer;
  float: left;
  font-size: 11px;
  height: auto;
  margin: 5px 5px 5px 0;
  padding: 7px;
  text-transform: none;
  width: auto;
  border:1px;
  background-color:#0066FF;
}

.currentStatus{
  color: #FFFFFF;
  cursor:default;
  float: left;
  font-size: 11px;
  height: auto;
  margin: 5px 5px 5px 0;
  padding: 7px;
  text-transform: none;
  width: auto;
  border:1px;
  background-color:#F60;
}
.button:hover{
  opacity:.75;
}
/*
.button {

    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: auto;
    margin: 5px 5px 5px 0px;
    padding: 7px;
    width: auto;
}
*/
.redText {
  color:#FF0000
}
.greenText {
  color:#0C0
}
.orangeText {
  color:#FF9900
}
.clear {
  clear: both;
}
.right{
  float: right;
}
.left{
  float: left;
}
.bold{
  font-weight:bold;
}
.graybg{
  background-color:#F3F3F3;
}
.bgOrange{
  background-color:#F60;
  color:#FFF;
}
.floatL{float:left;}
.floatR{float:right;}
/*
* 	CSS to show status in datatable
*/
.bgDue{
  background-color:#FFCC00;
  color:#FFF;
  padding:2px;
  /* border-radius: 5px 5px 5px 5px; */
}
.bgOverdue{
  background-color:#FF3300;
  color:#FFF;
  padding:2px;
  /* border-radius: 5px 5px 5px 5px; */
}
.bgOkay{
  background-color:#6C3;
  color:#FFF;
  padding:2px;
  /* border-radius: 5px 5px 5px 5px; */
}

div#filter{
  font-size: 9px;
  padding-bottom: 20px;
  border-bottom: 2px #CCCCCC dotted;
  margin-bottom: 10px;
}
/*****************************/

/*
*	Datatable
*/
.dataTables_filter{
  padding-bottom:3px;
}
/*****************************/
#wrapper {
  /*border:#FF0000 thin solid;*/
  /*margin: 0 auto;*/
  min-width:900px;
  width: 95%;

  height:auto;
}
div#container {
  float:left;
  /*
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  */
  margin:0px 15px 15px 15px;
  padding:0px;
  width:auto;
  min-width:900px;

}
div#header {
  float: left;
  height: auto;
  margin-top: 0px;
  width: 100%;
}
div.logo{
  float:left; width:200px; text-align:right; padding:0px 10px 0px 0px; border-right:2px #999999 dotted; margin-right:10xp;
}
div#topmenu {
  float:left;
  /*width:785px;*/
  width:auto;
  height:45px;
  /*padding-right:30px;*/
}

.ActiveTopMenu{
  background-color: #CCCCCC;
  color: #FFF;
}
div.user_info{
  float:right; width:190px; text-align:right;
}
div#secondary_menu {
  border-bottom: 2px #CCCCCC dotted;
  height:auto;
  margin-top:10px;
  padding-bottom:7px;
}
#top2 {
  padding-bottom:10px;
}
.add_button_large{
  float:right;
  padding:5px 0px 10px;

}
img {
  border:none;
}
#mid {
  clear:both;
  height:auto;
  float:left;
  width:100%;
  margin-top:5px;
	padding:0px 10px 10px 10px;
}
#mid_left {
  height:auto;
  float:left;
  width:70%;
}
#mid_right {
  height:auto;
  float:right;
  width:25%;
  padding-left:10px;
}

#left_m{
  /* border-radius: 0px 0px 5px 5px; */
  background-color:#EAEBFF;
  padding:0px 10px 10px 10px;
  margin-top: 10px;
  width:22%;
  float:left;
  /*min-width:286px;*/
}

#left_m_job_details{
  /* border-radius: 0px 0px 5px 5px; */
  background-color:#EEEEEE;
  padding:0px 10px 10px 10px;
  margin-top: 10px;
  width:22%;
  float:left;
  /*min-width:286px;*/
}
#right_m{
  width:74%;
  float:right;
  padding: 10px 0px 0px 10px;
}
#footer {
  clear:both;
  float:left;
  margin:30px 0;
  width:780px;
}

p {
  margin-bottom: 10px;
}
table {
  float:left;
}

td {
  padding: 2px;
	vertical-align: middle;
}
div.alert_inside {
  background:#FFFF66;
  width:98%;
  padding: 5px;
  float:left;
  margin-top:10px;color:#fff;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
}
div #info_box {
  background:#F2F2F2;
  color:#666666;
  padding:5px 0;
}
div#print {
  width:102px;
  float:right;
}
div#click_hide {
  width:50px;
  cursor:pointer;
  float:left;
}
div#click_show {
  width:50px;
  cursor:pointer;
  float:right
}
input {

  width:auto;
  font-size:11px;
  height:20px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  text-transform:none;
  margin:0px 5px 0px 0px;
  float:left;
  /*cursor:pointer;*/
  border:1px #CCCCCC solid;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
  padding:1px;
}

div#left_m form input{
  /*width:85%;*/
}

div#left_m form input.slaInput{
  width:20px;
}

div#left_m form input.button, label.ui-corner-all input{
  width:auto;
}

select {
  float:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  height:25px;
  padding:2px;
  width:150px;
  border: 1px solid #CCCCCC;
  /*
  border-radius: 5px 5px 5px 5px;
  */
}

.fixedWidth{
  width:150px;
}

.bgblue,a.bgblue  {
  background-color:#0066FF;
  color:#FFFFFF;
}
.bggrey {
  background-color:#CCCCCC;
}
.bgred {
  background-color:#FF0000;
  color:#FFFFFF;
}
textarea {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding:2px;
  height:auto;
  width:90%;
  /*margin-left:5px;*/
  border:1px #CCCCCC solid;
  /*
  -moz-border-radius: 5px;
  border-radius: 5px;
  */
}
div.search_result {
  font-size:9px;
  clear:both;
  height:25px;
}
.small {
  font-size:9px;
  color:#999;
}
.bold {
  font-weight:bold;
}
.red {
  color:#FF0000;
}
.homepage_menu {
  height: 40px;
  width: 100px;
}
tr.firstrow {
  padding:3px 0;
}
div.actionUrlBlock {
  clear: both;
  display: block;
  float: left;
  margin-top: 10px;
}

div#tabs{
  -moz-box-shadow: 0px 0px 4px 2px #ddd;
  -webkit-box-shadow: 0px 0px 4px 2px #ddd;
  box-shadow: 0px 0px 4px 2px #ddd;
  float:left;
  border:0px;
}
div.add_paragraph_form, div.search_paragraph_form{
  -moz-box-shadow: 0px 0px 4px 2px #ddd;
  -webkit-box-shadow: 0px 0px 4px 2px #ddd;
  box-shadow: 0px 0px 4px 2px #ddd;
  float:left;
  border:0px;
  width:98%;
  padding:0px 10px;
  margin:20px 0px;
}

div.accountManagerInfo{
  float:right;
  padding:5px;
  background:#CCFF66;
  margin-bottom:5px;
}
/*
*	costsheet message block
*/
.message_list {
  width: 700px;
  height:auto;
  float:left;
}
.message_block {
  width: 700px;
  height:auto;
  float:left;
  border-bottom:#CCCCCC 1px dotted;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.cm_posted_by {
  float:left;
  width: 100px;
}
.message_text {
  margin-left:10px;
  width: 580px;
  float:right;
}
textarea.costsheet_msg {
  border:#CCCCCC 1px solid;
  float:left;
  margin:0px;
  padding:0px;
  width:500px;
  display:block;
  clear:both;
}
div.message_form {
  margin-bottom: 10px;
  float:left;
  width:700px;
}
.remove_row_accessories {
  background:url(../images/delete_1_20x20.png) no-repeat 0 0;
  background-color:none;
  text-indent: 20px;
  height:20px;
  width:20px;
}
.remove_row_podetails {
  background:url(../images/delete_1_20x20.png) no-repeat 0 0;
  background-color:none;
  text-indent: 20px;
  height:20px;
  width:20px;
}
.remove_row_bom {
  background:url(../images/delete_1_20x20.png) no-repeat 0 0;
  background-color:none;
  text-indent: 20px;
  height:20px;
  width:20px;
}
.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}
.messages {
  width: 700px;
  float:left;
}
.costsheetcheckbox {
  width:20px;
  height:20px;
  float:left;
}
.cs_idname {
  float:left;
}
.pocheckbox {
  width:20px;
  height:20px;
  float:left;
}
.po_idname {
  float:left;
  width:80%;
}
.topmenu_item {
  float: left;
  height: 25px;
  width: auto;
}
ul.secondarymenu, ul.secondarymenu li{
  list-style:none;

  float:left;

}
ul.secondarymenu li{
  list-style:none;
  background-color:#EFEFEF;
  height:40px;
  width:104px;
  float:left;
  padding:3px 5px 0px;
  border-right:#fff 2px dotted;
  border-top:#fff 2px dotted;
}
button.ui-datepicker-current{
  display:none;
}

.debug{
  margin-left:20px;
}

.paragraphText{
  font-family:Arial, Helvetica, sans-serif;
  padding:5px;
  margin:5px 0px;
  background:#FFF;
  border:#CCCCCC 1px solid;
  float:left;
  font-size:18px;
  width:98%
}

/**********************************************
*	Jquery UI combobox : starts
*/
.ui-combobox {
  position: relative;
  display: inline-block;
  width: 180px;
  height:24px;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */
  *height: 1.7em;
  *top: 0.1em;
}
.ui-combobox-input {
  margin: 0;
  /*padding: 0.3em;*/
}
.ui-autocomplete {
  max-height: 350px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}



tr.filterInput td input{
  width:90%;
}

div.add_paragraph_form{
  width:600px;
  padding:10px;
  margin: 20px 0px;
  float:left;

}
ul.news li{
  list-style:circle;
  border-bottom:#999999 1px dotted;
  padding:10px 0px;
}

.emailTableStyle{
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}


/*
*	Uploadify css
**********************************************/

.uploadify-button {
			background-color: #0066FF;
			background-position: center top;
			background-repeat: no-repeat;
			border: 0px;
			border-radius: 0px;
			color: #FFFFFF;
			font-size: 11px;
			font-weight: normal;
			text-align: center;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			width: 100%;
		}

/*
*	Jquery UI combobox : Ends
**********************************************/

/* Bootstrap override*/
label, input, button, select, textarea {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: inherit;
    padding: 4px 6px;
    vertical-align: top;
}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0;
}

.navbar-nav > li > a {
    padding: 14px 8px 8px 3px;

}
.navbar{
  margin-bottom: 10px;
}

.dropdown-menu{
  font-size: 11px;
}

th{
        /*
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        */
        font-weight: bold;
      }

.tblFilter{
	margin:0px 0px 0px 0px;
}
.heading{
	font-size: 12px;
	color: #428BCA;
	font-weight: bold;
}

.filterContainer{
	width:auto;
	float:left;
	margin-bottom:0px;
}


/*
* Leaflet override
*/
.leaflet-popup-content-wrapper{float: left;}
div#floater{position: fixed; top:300px; left:-3px;z-index: 9999}
.percentCount{font-size: 34px; font-weight: bold;float: right}